<nav
  class="navbar navbar-expand-sm navbar-light bg-light"
>
  <div class="container">
    <a class="navbar-brand" href="#">Alghoritms</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav me-auto mt-2 mt-lg-0">
        
        <li class="nav-item">
          <a class="nav-link text-danger" routerLink="alghoritmsfirstweek">25-29 Alghoritms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/test" routerLink="alghoritmsdoor">Door Alghoritms 01/01/2024</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="alghoritmsmultipletype" href="#">Multiple Text Animations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="alghoritmsmexiconanimaton" href="#">Mexico Wave</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="basketcard" href="#">Basket Card</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/test" href="#">Test</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
